<style>
  .new {
    color: gray;
    border-radius: 50%;
    width: 50px;
    height: 30px;
    padding: 3px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    
  }
  
</style>

<h3>商品一覧</h3>


<div class="row">
  <div class="col-9 mx-auto">
    <h3 class="text-right"><%= link_to new_admin_item_path do %><span class="new"><i class="fa-light fa-plus"></i></span><% end %></h3>
    <table class="table table-borderless">
      <thead class="bg-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%=link_to item.name, admin_item_path(item) %></td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.item_genre.name %></td>

            <td>
              <% if item.status == "販売中" %>
                <b class="text-success"><%= item.status %></b>
              <% else %>
                <b class="text-secondary"><%= item.status %></b>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <div>
      <%= paginate @items %>
    </div>
  </div>
</div>
