<div class='row mt-3'>
  <%= render "public/items/genre_sidebar", genres: @genres %>
  <div class='col-md-9 offset-md-1 my-5'>
    <div class="top-intro-box">
      <div class="top-intro-text">
  		  <p><span>ようこそ、ながのCAKEへ！</span></p>
  		  <p><span>このサイトは、ケーキ販売のECサイトになります。</span></p>
  		  <p><span>会員でない方も商品の閲覧はできますが、</span></p>
  		  <p><span>購入には会員登録が必要になります。</span></p>
      </div>
		</div>
		<div>
		  <h2>新着商品</h2>
		  <div>
		  	<% @items.each do |item| %>
        <div class="d-inline-flex">
          <div class="items my-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.item_image, size: "190x150", class:"mx-1" %><br>
            <% end %>
            <%= item.name %><br>
            ¥<%= item.with_tax_price.to_s(:delimited) %>
          </div>
        </div>
      <% end %>
		  </div>
		</div>
		<div class="text-right">
		  <%= link_to "全ての商品を見る >", items_path, class: 'nav-link'%>
		</div>
  </div>
</div>