<div class="row">

  <%= render "public/items/genre_sidebar", genres: @genres %>

  <div class="col-md-9">
    <h2 class="my-2"><b><%= @genre.name %>一覧</b>(全<%= @genre.items.count %>件)</h2>
      <% @items.each do |item| %>
        <div class="d-inline-flex">
          <div class="items my-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.item_image, size: "190x150", class:"mx-1" %><br>
            <% end %>
            <%= item.name %><br>
            ¥<%= item.with_tax_price.to_s(:delimited) %>
          </div>
        </div>
      <% end %>
    <%= paginate @items %>
  </div>
</div>