<div class="row">
  <table class="table table-bordered">
    <h3>注文履歴一覧</h3>
    <thead>
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td><%= order.create_at %></td>
        <td>
          〒<%= order.postal_code %><br>
            <%= order.address%><br>
            <%= order.name %>
        </td>
        <td>
          <% order.order_items.each do |order_item| %>
            <!--商品名-->
            <%= order_item.item.item.name %><br>
          <% end %>
        </td>
        <!--支払金額-->
        <td>¥<%= order.amout_billed %></td>
        <!--注文ステータス-->
        <td><%= order.status_i18n %></td>
        <td><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
