<div class="row mb-5">
  <div class="col-md-12 mx-auto">
    <h4 class="mt-3 col-2 bg-light">注文履歴一覧</h4>
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>注文日</th>
          <th class="col-xs-6">配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td class="align-middle"><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td class="align-middle">
            〒<%= order.postal_code %><br>
              <%= order.address%><br>
              <%= order.name %>
          </td>
          <td class="align-middle">
            <% order.order_items.each do |order_item| %>
              <!--商品名-->
              <%= order_item.item.name %><br>
            <% end %>
          </td>
          <!--支払金額-->
          <td class="align-middle">¥<%= order.amount_billed.to_s(:delimited) %></td>
          <!--注文ステータス-->
          <td class="align-middle"><%= order.status_i18n %></td>
          <td class="align-middle text-center"><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <div class="row">
      <div class="mx-auto mb-5">
        <%= paginate @orders, theme: 'bootstrap-5'%>
      </div>
    </div>
  </div>
</div>