<h2>注文情報入力</h2>

<div>
  <%= form_with model: @order, url: orders_path do |f| %>
    <h3>支払方法</h3>
    <div class="form-group">
      <%= f.label :payment_dredit_card, 'クレジットカード' %>
      <%= f.radio_button :payment, 'credit_card', checked: true %>
      <%= f.label :payment_transfer, '銀行振込', value: true %>
      <%= f.radio_button :payment, 'transfer' %>
    </div>

    <h3>お届け先</h3>
    <div class="form-group">
      <%= f.label :customer_destination:, 'ご自身の住所' %>
      <%= f.radio_button :customer_destination, true, checked: true %>
      <div>
        <%= @customer.address %>
      </div>

      <%= f.label :destinations, '登録先住所から選択', value: true %>
      <%= f.radio_button :destinations, false %>
      <div>
        <%= f.select :address_id, options_from_collection_for_select(@customer.destinations, :id, :name) %>
      </div>

      <%= f.label :new_desitination, '新しいお届け先', value: false %>
      <%= f.radio_button :new_desitination, value: false %>

      <table class="table">
        <tr>
          <td><%= f.label :postal_code, "郵便番号(ハイフン無し)" %></td>
          <td><%= f.text_field :postal_code, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :address, "住所" %></td>
          <td><%= f.text_field :address, class: "form-contorl" %></td>
        </tr>
        <tr>
          <td><%= f.label :name, "宛先" %></td>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
      </table>
    </div>

    <div class="form-group">
      <%= f.submit "確認画面へ進む", class: 'btn btn-success' %>
    </div>

  <% end %>
</div>
