<div class="row">
  <h3>注文履歴詳細</h3>
</div>
<div class="row">
  <div>
    <h4>注文情報</h4>
    <table class="table table-bordered">
      <tr>
        <td>注文日</td>
        <td><% order.created_at %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td>
          〒<%= order.postal_code %><br>
            <%= order.address%><br>
            <%= order.name %>
        </td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_i18n %></td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td><%= @order.status_i18n %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div>
    <h3>請求金額</h3>
    <table class="table table-bordered">
      <tr>
        <td>商品合計</td>
        <td>¥<%= (@order.amount_billed - @order.delivery_fee).to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>配送料</td>
        <td><%= @order.delivery_fee %></td>
      </tr>
      <tr>
        <td>ご請求額</td>
        <td><%= @order.amount_billed %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div>
    <h3>注文内容</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品</th>
          <th>単価（税込み）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <% @order.order_items.each do |order_item| %>
      <tbody>
        <tr>
          <!--商品名-->
          <td><%= order_item.item.item_name %></td>
          <!--単価（税込み）-->
          <td><%= order_item.item.with_tax_price %></td>
          <!--個数-->
          <td><%= order_item.count %></td>
          <!--小計-->
          <td><%= order_item %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>