<div class="row mb-5">

  <%= render "genre_sidebar", genres: @genres %>

  <div class="col-md-9">
    <h2 class="my-2"><b>商品一覧</b>（全<%= @item_all.count %>件）</h2>
      <% @items.each do |item| %>
        <div class="d-inline-flex">
          <div class="items my-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_item_image(190, 160), class:"mx-1" %><br>
            <% end %>
            <%= item.name %><br>
            ¥<%= item.with_tax_price.to_s(:delimited) %>
          </div>
        </div>
      <% end %>
    <div class="row">
      <div class="mx-auto mb-5">
        <%= paginate @items, theme: 'bootstrap-5', class: "col-md-9" %>
      </div>
    </div>
  </div>
</div>