<div class="row mb-5">

  <%= render "public/items/genre_sidebar", genres: @genres %>

  <div class="col-md-9">
    <div class="d-flex">
      <h2 class="my-2 mr-auto"><b>検索一覧</b>(全<%= @items.count %>件)</h2>
      <%= link_to '一覧へ戻る', items_path, class:"mt-4" %>
    </div>
      <% @items.each do |item| %>
        <div class="d-inline-flex">
          <div class="items my-3 text-truncate" style="width: 198px;">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_item_image(190, 160), class:"mx-1" %><br>
            <% end %>
            <%= item.name %><br>
            ¥<%= item.with_tax_price.to_s(:delimited) %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="mx-auto mb-5">
          <%= paginate @items, theme: 'bootstrap-5', class: "col-md-9" %>
        </div>
      </div>
  </div>
</div>